body{
    background-color: black;
}
.container{
    max-width: 295px;
    margin: 100px auto;
    background-color: hsl(216, 12%, 8%);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
}
.thanks{
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
}
.text{
    padding-left: 70px;
}
.output{
    display: inline;
    margin: 56px;
    border: 1px;
    border-radius: 15px;
    background-color: hsl(213, 19%, 18%);
    color: rgb(180, 87, 25);
    font-family: overpass;
    font-size: 0.7em;
    padding: 5px 12px;
}